
/*****************************************************/
/*************   General styling    *****************/
/*****************************************************/

html, body {
	color: #AAA;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif !important;
	color: black;
	padding: 0;
	margin: 0;
	height: 4900px;
	/*background-color:#269;
	background-image:
	linear-gradient(rgba(44,154,172,0.2) 1px, transparent 1px),
	linear-gradient(90deg, rgba(44,154,172,0.2) 1px, transparent 1px);
	background-size:10px 10px, 10px 10px, 10px 10px, 10px 10px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;*/

	background-color: rgba(0, 204, 207, 1);

  /*-webkit-background-size: 3px 3px;
  background-image: -webkit-linear-gradient(  0deg, hsla(0,0%,0%,0) 0, hsla(0,0%,10%,1) 3px),
    -webkit-linear-gradient( 90deg, hsla(0,0%,0%,0) 0, hsla(0,0%,10%,1) 5px);

 background-image: -moz-linear-gradient( hsl(0,0%,11%), hsl(0,0%,11%) );
  background-image:  -ms-linear-gradient( hsl(0,0%,11%), hsl(0,0%,11%) );
  background-image:   -o-linear-gradient( hsl(0,0%,11%), hsl(0,0%,11%) );*/
}

section {
	/*width: 95%;
	margin-left:2.5% !important;
	margin-right:2.5% !important;*/
}

section#content {
	width: 100%;
	margin: 0 auto !important;
	overflow: hidden;
	height: 4900px;
	position: relative;
	z-index: 0;
}

p {
	margin-top: 1em !important;
	font-size: 14px !important;
	line-height: 130% !important;
	/*text-shadow: 0 1px 1px rgba(0,0,0,0.4);*/
}

.borde-derecho-inferior {
	border-bottom-right-radius:4px;
}

.borde-izquierdo-inferior {
	border-bottom-left-radius:4px;
}

.section-container{
	width: 100%;
}

.border-box{
	width: 100%;
	height: 3%;
	float: left;
}

/*****************************************************/
/*************        Header         *****************/
/*****************************************************/

.header-box {
	height: 20%;
	width: 100%;
	text-align: center;
	color: white;
	overflow: hidden;
}
section h1{
	font-size:350%;
	font-weight: 300;
	margin-bottom: 12px;
	text-shadow:rgba(207, 3, 0,1) 2px 2px 2.8px, rgba(207, 3, 0,1) -2px -2px 2.8px;
}

section h2{
	font-size:216%;
	font-weight:300;
	text-shadow:rgba(207, 3, 0,1) 1px 1px 2.8px, rgba(207, 3, 0,1) -1px -1px 2.8px
}


.header_container{
	background-image: url("images/smoke.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.header{
	background-color:rgba(207, 3, 0, 0.6);
	background-image:
	-webkit-linear-gradient(rgba(250,250,250,0.2) 1px, transparent 1px),
	-webkit-linear-gradient(left, rgba(250,250,250,0.2) 1px, transparent 1px);
	background-image:
	-o-linear-gradient(rgba(250,250,250,0.2) 1px, transparent 1px),
	-o-linear-gradient(left, rgba(250,250,250,0.2) 1px, transparent 1px);
	background-image:
	linear-gradient(rgba(250,250,250,0.2) 1px, transparent 1px),
	linear-gradient(to right, rgba(250,250,250,0.2) 1px, transparent 1px);;
	background-size:10px 10px, 10px 10px, 10px 10px, 10px 10px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	height: 100%;
	width: 100%;
	display: table;
}

/*****************************************************/
/*************      Map - About        ***************/
/*****************************************************/

section#map {
	position: absolute;
	top: 0px;
	z-index: 1;
	text-align: center;
	width: 100%;
	background: rgba(256, 256, 256, 1);
}

/*#map .section-container{
	padding: 4%;
}*/

.map-main-box{
	width: 92%;
	height: 68%;
	margin-left: 4%;
	margin-right: 4%;
}

.about_container{
	height: 90%;
	width: 38.2%;
	float: left;
}

.about{
	/*height: 114.6px;*/
	vertical-align: middle;
	line-height: 120px;
	font-weight:700;
	font-size:700%;
}

.about_content{
	/*height:155.4px;*/
	padding-bottom:15px;
	padding-top:15px;
	overflow:hidden;
}

.photo{
	height: 90%;
	width: 61.8%;
	float: left;
	background-image:url("images/me.jpeg");
	border-top-right-radius:4px;

}

.photo-cover{
	background-color:rgba(253,229,164, 0.7);
	/*background-color: gray;*/
	/*background-image: repeating-linear-gradient(-45deg, transparent, transparent 40px, rgba(178, 21, 21, 1) 40px, rgba(178, 21, 21, 1) 100px);*/
  background-position: 0px, 0px;
  background-size: 1000px 1000px;

	border-top-right-radius:4px;
	width: 100%;
	height: 100%;
}

.photo-cover:hover {
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 40px, rgba(178, 21, 21, 1) 40px, rgba(178, 21, 21, 1) 100px);
	-webkit-animation: scaling .8s linear infinite;
  -moz-animation:    scaling .8s linear infinite;
  -o-animation:      scaling .8s linear infinite;
  animation:         scaling .8s linear infinite;
}

@-webkit-keyframes scaling{
	0% { background-position: 0px, 0px; }
  100% { background-position: 140px, 0px; }
}


@-moz-keyframes scaling{
	0% { background-position: 0px, 0px; }
  100% { background-position: 140px, 0px; }
}


@-ms-keyframes scaling{
	0% { background-position: 0px, 0px; }
  100% { background-position: 140px, 0px; }
}


@-o-keyframes: scaling{
	0% { background-position: 0px, 0px; }
  100% { background-position: 140px, 0px; }
}

@keyframes scaling{
	0% { background-position: 0px, 0px; }
  100% { background-position: 140px, 0px; }
}


.link_map_container{
	width: 100%;
	float: left;
	height: 10%;
	/*order-bottom-right-radius:4px;f
	border-bottom-left-radius:4px;*/
  perspective: 500px;
}


.link_3d_container{
  width: 25%;
  height: 100%;
  float: left;
  transform-style: preserve-3d;
}



.box {
	width: 25%;
	height: 100%;
  position:relative;
  float: left;
	transform-style: preserve-3d;
	/*transform: translate3d(0, 0, -25px);*/
  cursor: pointer;
}

.top-face{
	background-color:rgba(17, 44, 65, 1);
  position: absolute;
	width: 100%;
	height: 100%;
	transform-origin: center top;
	/*transform: rotate3d( 1, 0, 0, 90deg);*/
   backface-visibility: hidden;
}

.left-face{
  background-color:rgba(7, 19, 28, 1);
  height: 100%;
  position: absolute;
}

.right-face {
  background-color:rgba(7, 19, 28, 1);
  height: 100%;
  position: absolute;
  /*float : right;*/
}

.link_map {
	color: white;
	width: 100%;
  height: 100%;
  overflow: hidden;
	background-color:rgba(34, 102, 153, 1);
	font-size: 200%;
  position: absolute;
	/*transform: translate3d(0, 0, 25px);*/
}

.link_map:active{
  background-color:rgba(208, 208, 37, 1);
  color: rgba(34, 102, 153, 1);
}

.link_map:hover{
  border-width: 1px;
  border-color: white;
  border-style: solid;
}

.fix-text{
	margin-top: 8px;
}

.bottom-face{
	background-color:rgba(17, 44, 65, 1);
  position: relative;
	width: 100%;
	height: 100%;
	/*transform: rotate3d( -1, 0, 0, 90deg ) translate3d(0, 0, 25px);*/
   backface-visibility: hidden;
}

#box1{
  z-index: 2;
}

#box2{
  z-index: 3;
}

#box3{
  z-index: 3;
}

#box4{
  z-index: 2;
}


/*hover defined on initializers.js*/
/*.box:hover {
}*/

@-keyframes dribling {
  0% {transform: rotate3d( 0, 0, 0, 0 );}
  60% {transform: rotate3d( -1, 0, 0, 15deg ) translate3d(0, 0, 3px);}
  100% {transform: rotate3d( 1, 0, 0, 15deg ) translate3d(0, 0, 4.5px);}
}

@-webkit-keyframes dribling {
  0% {transform: rotate3d( 0, 0, 0, 0 );}
  60% {transform: rotate3d( -1, 0, 0, 15deg ) translate3d(0, 0, 3px);}
  100% {transform: rotate3d( 1, 0, 0, 15deg ) translate3d(0, 0, 4.5px);}
}

@-moz-keyframes dribling {
  0% {transform: rotate3d( 0, 0, 0, 0 );}
  60% {transform: rotate3d( -1, 0, 0, 15deg ) translate3d(0, 0, 3px);}
  100% {transform: rotate3d( 1, 0, 0, 15deg ) translate3d(0, 0, 4.5px);}
}

@-ms-keyframes dribling {
  0% {transform: rotate3d( 0, 0, 0, 0 );}
  60% {transform: rotate3d( -1, 0, 0, 15deg ) translate3d(0, 0, 3px);}
  100% {transform: rotate3d( 1, 0, 0, 15deg ) translate3d(0, 0, 4.5px);}
}

@-o-keyframes dribling {
  0% {transform: rotate3d( 0, 0, 0, 0 );}
  60% {transform: rotate3d( -1, 0, 0, 15deg ) translate3d(0, 0, 3px);}
  100% {transform: rotate3d( 1, 0, 0, 15deg ) translate3d(0, 0, 4.5px);}
}

@keyframes dribling {
  0% {transform: rotate3d( 0, 0, 0, 0 );}
  60% {transform: rotate3d( -1, 0, 0, 15deg ) translate3d(0, 0, 3px);}
  100% {transform: rotate3d( 1, 0, 0, 15deg ) translate3d(0, 0, 4.5px);}
}

/*****************************************************/
/**************      Portfolio        ****************/
/*****************************************************/


section#portfolio {
	position: absolute;
	width: 100%;
	top: 1440px;
	z-index: 2;
	text-align: center;
	background: rgba(256, 256, 256, 0.65);

}

.portfolio-container {
  width: 92%;
  height: 71%;
  margin-right: 4%;
  margin-left: 4%;
	float: left;
  perspective: 500px;
  background-color:white;
}

.main-port-box {
  transform-style: preserve-3d;
  width:61.8%;
  height: 100%;
  float:left;
  position:relative;
  z-index:3;
  transition:transform 1s linear;
  cursor:pointer;
}

.main-box-top{
  position:absolute;
  width:100%;
  height:100%;
  /*transform: rotate3d( 1, 0, 0, 90deg) translate3d(0,0,300px);*/
  background-color: rgba(233, 78, 78, 0.65)
}
.main-box-front{
  position:absolute;
  width:100%;
  height:100%;
  /*transform: translate3d(0,0,300px);*/
  background-color:rgba(242, 146, 146, 0.65);
}
.main-box-bottom{
  position:absolute;
  width:100%;
  height:100%;
  /*transform: rotate3d( -1, 0, 0, 90deg) translate3d(0,0,300px);*/
  background-color:rgba(104, 13, 13, 0.65);
}
.main-box-back{
  position:absolute;
  width:100%;
  height:100%;
  /*transform: rotate3d( 0, 1, 0, 180deg) translate3d(0,0,300px);*/
  background-color:rgba(141, 17, 17, 0.65);
}

.behind-scenes{
  height:100%;
  width:38.2%;
  position:relative;
  z-index:2;
  float:left;
}


.project-detail{
	transform-style: preserve-3d;
  height:61.8%;
  width: 100%;
  float:left;
  position:relative;
  z-index:3;
  transition:transform .4s linear;
  cursor:pointer;
}

.detail-box-right{
	position: absolute;
	width: 100%;
	height:100%;
	transform-origin: right center;
	background-color: rgba(118, 141, 17, 0.65);
	/*transform defined on initializer.js*/
}

.detail-box-front{
	position: absolute;
	width: 100%;
	height:100%;
	background-color: rgba(194, 229, 42, 0.65);
	/*transform defined on initializer.js*/
}

.detail-box-left{
	position: absolute;
	width: 100%;
	height:100%;
	transform-origin: left center;
	background-color: rgba(141, 168, 21, 0.65);
	/*transform defined on initializer.js*/
}

.detail-box-back{
	position: absolute;
	width: 100%;
	height:100%;
  background-color: rgba(237, 247, 191, 0.65);
	/*transform defined on initializer.js*/
}

.project-spects{
	transform-style: preserve-3d;
	height:38.2%;
  width: 100%;
  float:left;
  postion:relative;
  z-index:2;
  transition: transform .4s linear;
  cursor:pointer;
}

.spects-box-right{
	position: absolute;
	width: 100%;
	height:100%;
	transform-origin: right center;
	 background-color: rgba(96, 103, 235, 0.65);
	/*transform defined on initializer.js*/
}

.spects-box-front{
	position: absolute;
	width: 100%;
	height:100%;
	 background-color: rgba(14, 19, 113, 0.65);
	/*transform defined on initializer.js*/
}

.spects-box-left{
	position: absolute;
	width: 100%;
	height:100%;
	transform-origin: left center;
	 background-color: rgba(42, 51, 229, 0.65);
	/*transform defined on initializer.js*/
}

.spects-box-back{
	position: absolute;
	width: 100%;
	height:100%;
  background-color: rgba(132, 138, 240, 0.65);
	/*transform defined on initializer.js*/
}

.slider-controller {
	width: 92%;
	margin-right: 4%;
	margin-left: 4%;
	height: 20%;
	float: left;
}
/*****************************************************/
/**************      knowledge        ****************/
/*****************************************************/


section#knowledge {
	position: absolute;
	top: 2180px;
	z-index: 3;
	/*background: green;*/
}

section#experience{
	position: absolute;
	top: 3150px;
	z-index: 3;
	/*background: blue;*/
}

section#contact{
	position: absolute;
	top: 4070px;
	z-index: 3;
	/*background: orange;*/
}

footer{
	position: absolute;
	top: 4810px;
	z-index: 3;
	background: black;
}

p {
	margin: 0 0 1em 0 !important;
	font-size: 14px !important;
	line-height: 130% !important;
	/*text-shadow: 0 1px 1px rgba(0,0,0,01);*/
}

/*specifict styles*/
