html
  font-family: 'Ubuntu', sans-serif

.orange-font
  color: $orange-1

.blue-font
  color: $blue-1

.content-font
  line-height: 1.5
  font-size: 1.2em

.bold-text
  font-weight: 500

@font-face
  font-family: "Flaticon"
  src: url("flaticon.eot")
  src: url("flaticon.eot#iefix") format("embedded-opentype"), url("flaticon.woff") format("woff"), url("flaticon.ttf") format("truetype"), url("flaticon.svg") format("svg")
  font-weight: normal
  font-style: normal

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after
  font-family: Flaticon
  font-size: 20px
  font-style: normal
  margin-left: 10px
  margin-right: 10px

.flaticon-pause47:before
  content: "\e000"


.flaticon-play87:before
  content: "\e001"


.flaticon-player8:before
  content: "\e002"


.flaticon-rewind:before
  content: "\e003"


