.padding-left-1
  padding-left: $padding-fixed-1

.padding-right-1
  padding-right : $padding-fixed-1

.padding-vertical-1
  padding-right: $padding-fixed-1
  padding-left: $padding-fixed-1

.card-box
  padding: $padding-fixed-2 $padding-fixed-2

.padding-box-1
  padding: 9px 3px

.padding-box-2
  padding: 9px 9px

.padding-box-3
  padding: 3px 3px

.padding-box-4
  padding: 9px 27px